version: '3.8'

services:
  api_ln1:
    build:
      context: .
    image: ln1_agente_ai_fastapi  # nombre imagen
    container_name: ln1_agente_ai_fastapi  # nombre contenedor
    ports:
      - "8001:8001"
    restart: always
